{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stamp/stamp.css' %}">
<title>stamp</title>
{% endblock %}

{% block content %}
<div>
    <canvas id="stamp-sheet" width="1080" height="1920"></canvas>
</div>

<script>
    const stampOffsets = [
        { x: 662, y: 162 },
        { x: 213, y: 452 },
        { x: 662, y: 742 },
        { x: 213, y: 1032 },
        { x: 662, y: 1322 },
    ];

    const sheet = document.getElementById("stamp-sheet");
    const ctx = sheet.getContext("2d");
    const sheetSrc = "{% static 'image/stamp/sheet.png' %}";
    const stampSrc = "{% static 'image/stamp/stamp.png' %}";

    const sheetImg = new Image();
    sheetImg.src = sheetSrc;
    sheetImg.onload = () => {
        ctx.drawImage(sheetImg, 0, 0);
    };
    const True = true;
    const False = false;
    {% autoescape off %}
    const isHaveStamp = {{ stamps  }}
    {% endautoescape %}
    isHaveStamp.pop()
    isHaveStamp.forEach((stamp, index) => {
        if (stamp) {
            const stampImg = new Image();
            stampImg.src = stampSrc;
            stampImg.onload = () => {
                ctx.drawImage(stampImg, stampOffsets[index].x, stampOffsets[index].y);
            };
        }
    })
</script>
{% endblock %}
