{% extends "base.html" %}
<!--
<!DOCTYPE html>
    {% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>stamp</title>
</head>
<body>
    <h1>テスト</h1>
    <p>{{ request.user.first_name }}</p>
    <p>{{ user }}</p>
    {% for stamp in stamps %}
        <p>{{ stamp }}</p>
    {% endfor %}
    <a href="{% url 'logout' %}">ログアウト</a>
    <script src="{% static 'js/stamp.js' %}"></script>
</body>
</html>
-->
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stamp/stamp.css' %}">
<title>stamp</title>
{% endblock %}

{% block content %}
<h1>テスト</h1>
<p>{{ request.user.first_name }}</p>
<a href="{% url 'logout' %}" class="stamp-logout_button">ログアウト</a>
{% endblock %}
