{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stamp/stamp_map.css' %}">
<title>map</title>
{% endblock %}

{% block content %}
<div class="map-container">
    <div>
        <h2>アピレ 1F</h2>
        <img src="{% static "image/map/アピレ.png" %}" alt="アピレの地図">
        <img src="{% static "image/recommend/apire.png" %}" alt="アピレおすすめのお店">
    </div>
    <div>
        <h2>イトーヨーカドー 1F</h2>
        <img src="{% static "image/map/イトーヨーカドー.png" %}" alt="イトーヨーカドーの地図">
    </div>
    <div>
        <h2>ビーンズ</h2>
        <img src={% static "image/map/ビーンズ.png" %} alt="ビーンズの地図">
        <img src="{% static "image/recommend/beans.png" %}" alt="ビーンズおすすめのお店">
    </div>
    <div>
        <h2>ビビオ 1F</h2>
        <img src={% static "image/map/ビビオ.png" %} alt="ビビオの地図">
        <img src="{% static "image/recommend/bivio.png" %}" alt="ビビオおすすめのお店">
    </div>
    <a href="{% url 'stamp' %}" class="map-back-button">
        スタンプシートに戻る
    </a>
</div>
{% endblock %}
