{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
<title>login</title>
{% endblock %}

{% block content %}
<div class="login-container">
  <img class="login-background_image1" src="{% static 'image/background/pattern1.png' %}" alt="background-image">
  <img class="login-background_image2" src="{% static 'image/background/pattern2.png' %}" alt="background-image">
  <div class="login-title_text">赤羽台祭スタンプラリー企画</div>
  <div class="login-logo_container">
      <img class="login-logo" src="{% static 'image/login/logo.png' %}" alt="スタンプラリー">
  </div>
  <div class="login-area">
    <a href="{% url 'social:begin' 'line' %}?next={{ next }}" class="login-line_login">
      <img src="{% static 'image/login/LINE.png' %}" alt="LINE Icon" class="login-line_icon">
      <span class="login-line_text">LINEでログイン</span>
    </a>
  </div>
  <p class="login-info_text">
      赤羽地域に設置された5か所のQRコードを読み込んでスマホでサクサクスタンプをためよう!
      <br>
      すべてのスタンプが集まったらビビオ七福神広場で素敵な景品と交換しにいこう！
  </p>
</div>
{% endblock %}