body {
  --bg-color: #f4e4d7;
  --text-color-primary: #114e72;
  --button-color-primary: #9ad0d3;
  --text-color-secondary: #a43b28;
  --button-color-secondary: #edbea4;

  background-color: #f4e4d7;

  background-color: var(--bg-color);
  color: #114e72;
  color: var(--text-color-primary);
}

.map-container {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  padding: 2rem;
}

.map-container h2 {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.map-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
