body {
  --bg-color: #f4e4d7;
  --text-color-primary: #114e72;
  --button-color-primary: #9ad0d3;
  --text-color-secondary: #a43b28;
  --button-color-secondary: #edbea4;

  background-color: #f4e4d7;

  background-color: var(--bg-color);
  color: #114e72;
  color: var(--text-color-primary);
}

.map-container {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  padding: 2rem;
}

.map-container h2 {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.map-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.map-back-button {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  min-width: 12rem;
  min-height: 3rem;
  font-size: 1rem;
  padding-left: 1rem 0.5rem;
  background-color: #f4d7c5;
  color: #a43b28;
  color: var(--text-color);
}

.map-back-button:before {
  position: absolute;
  content: "→";
  display: grid;
  place-items: center;
  background-color: #de9c90;
  color: #f4d7c5;
  border-radius: 50%;
  font-size: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
