body {
  --bg-color: #f4e4d7;
  --text-color-primary: #114e72;
  --button-color-primary: #9ad0d3;
  --text-color-secondary: #a43b28;
  --button-color-secondary: #edbea4;

  background-color: #f4e4d7;

  background-color: var(--bg-color);
  color: #114e72;
  color: var(--text-color-primary);
}

#stamp-sheet {
  width: 100%;
}

.stamp-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.stamp-container h2 {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.stamp-container h2 + div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.stamp-container h2 + div .stamp-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.stamp-container .stamp-bubble {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.stamp-container .stamp-bubble + img {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.stamp-container .stamp-btn-secondary {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.stamp-container .stamp-btn-secondary + p {
  margin-bottom: 0.5rem;
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

#stamp-modal {
  border-radius: 1rem;
  padding: 3rem;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#stamp-modal div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#stamp-modal div h1 {
  font-weight: 700;
  text-align: center;
}

#stamp-modal div p {
  font-weight: 400;
}

#stamp-modal div #modal-confirm {
  background-color: var(--text-color-primary);
  color: white;
}

#stamp-modal div #modal-cancel {
  background-color: white;
  color: var(--text-color-primary);
}

#stamp-modal div form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#stamp-modal div form label {
  font-weight: 400;
}

#stamp-modal div form input {
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 1rem;
  min-height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

#stamp-modal div form input:focus {
  outline: none;
  border-color: var(--text-color-primary);
}

.stamp-footer {
  background-color: #de9c90;
  height: 4rem;
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
}

.stamp-footer p {
  font-size: 0.8rem;
  font-weight: 400;
}

.stamp-btn {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  min-width: 12rem;
  min-height: 3rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.stamp-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.stamp-btn-primary {
  background-color: var(--button-color-primary);
  color: var(--text-color-primary);
}

.stamp-btn-secondary {
  background-color: var(--button-color-secondary);
  color: var(--text-color-secondary);
}

.stamp-bubble {
  position: relative;
  background-color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1.5em 1.5rem 0 1.5rem;
}

.stamp-bubble:before {
  --size: 1.2rem;
  content: "";
  position: absolute;
  right: 0;
  bottom: calc(1.2rem * -1);
  bottom: calc(var(--size) * -1);
  background: inherit;
  width: 1.2rem;
  width: var(--size);
  height: 1.2rem;
  height: var(--size);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
